<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
    lang="en">

<head>
    <meta charset="UTF-8" />
    <div layout:fragment="metadata" th:remove="tag">
        <title th:text="${post.title}">View Post</title>
    </div>
    <link rel="stylesheet" href="/src/main/resources/static/css/blog.css" th:href="@{/css/blog.css}"/>
</head>

<body>

    <div layout:fragment="content" th:remove="tag">
        <main id="posts">
            <article>
                <h2 class="title" th:text="${post.title}">Title</h2>
                <div class="date">
                    <i>Posted on</i>
                    <span th:text="${#dates.format(post.date, 'dd-MMM-yyyy')}">20-May-2022</span>
                    <span th:if="${post.author}" th:remove="tag">
                        <i>by</i>
                        <span th:text="${post.author.fullName != null ? post.author.fullName : post.author.username}">John Mort</span>
                    </span>
                </div>

                <p class="content" th:utext="${post.body}">Post Content</p>
            </article>
        </main>
    </div>

</body>