<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
    lang="en">

<head>
    <meta charset="UTF-8" />
    <div layout:fragment="metadata" th:remove="tag">
        <title>Blog</title>
    </div>
</head>

<body>

    <div layout:fragment="content" th:remove="tag">

        <h1>Log In to the Blog</h1>

        <form method="post" th:object="${loginForm}">
            <div><label for="username">Username:</label></div>
            <input id="username" type="text" name="username" th:value="*{username}" />
            <span class="formError" th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red; font-style: italic;">Invalid Username</span>

            <div><label for="password" th:value="*{username}">Password: </label></div>
            <input id="password" type="password" name="password" th:value="*{password}" />
            <span class="formError" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red; font-style: italic;">Invalid Password</span>

            <div><input type="submit" value="Login"/>
            <a href="register.html" th:href="@{/users/register}">[Go to Register]</a></div>
        </form>

    </div>

</body>