<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
    lang="en">

<head>
    <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>


    <div layout:fragment="metadata" th:remove="tag">
        <title>TBD | Home</title>
    </div>
</head>

<body>
    <div layout:fragment="content" th:remove="tag">


        <!-- Typerwriter.js Implementation-->
        <div id="app">/<div>
                <div id="typewriter"></div>

                <!-- End Typewriter.js -->
            </div>
        </div>


        <div layout:fragment="script" th:remove="tag">
            <script th:inline="javascript">
                console.log("test")
                var app = document.getElementById('app');

                var typewriter = new Typewriter(app, {
                    loop: true
                });

                typewriter.
                    typeString('a world where ...')
                    .typeString(' <strong> there is a surplus of trees</strong>')
                    .pauseFor(2500)
                    .deleteChars(31)
                    .typeString('<strong> our planet is a stable temperature</strong>')
                    .pauseFor(2500)
                    .deleteChars(52)
                    .typeString('<strong> pollution is no longer a threat</strong>')
                    .start();





            </script>

</body>

</html>