<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
    lang="en">

<head>
    <script src="js/core.js"></script>
    <link rel="stylesheet" href="css/index.css">


    <div layout:fragment="metadata" th:remove="tag">
        <title>TBD | Home</title>
    </div>
</head>

<body>
    <div layout:fragment="content" th:remove="tag">


               <div id="app">

                <!-- Typerwriter.js Implementation-->
                <div  class="text-center" id="typewriter">
                </div>
                <!-- End Typewriter.js -->
        </div>
        </div>


        <div layout:fragment="script" th:remove="tag">
            <script th:inline="javascript">
                var app = document.getElementById('app');
                var typewriter = new Typewriter(app, {
                    loop: true
                });
                typewriter.typeString
                ('a world where there are ... ')
                    .typeString(' <strong>thriving trees</strong>')
                    .pauseFor(2500)
                    .deleteChars(13)
                    .typeString('<strong>thriving temperatures</strong>')
                    .pauseFor(2500)
                    .deleteChars(20)
                    .typeString('<strong>thriving populations</strong>')
                    .start();

            </script>
</body>

</html>