<!DOCTYPE HTML>

<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}"
    lang="en">

<head>
    <script src="js/core.js"></script>
    <link rel="stylesheet" href="css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />

    <link
    href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css"
    rel="stylesheet"
    />
    


    <div layout:fragment="metadata" th:remove="tag">
        <title>EnvMapper | Map</title>
    </div>


</head>

<body>
   

    <div layout:fragment="content" th:remove="tag">

        <div id="particles-js"></div>

        <div id="app">
            <div class='sidebar'>
            <div id='listings' class='listings'></div>
            </div>
            <div id="map" class="map"> </div>

        
        <div id="sideStatistics">
            <h1>Statistics</h1>
            <p>Number of Reports: 0</p>
            <p>Number of Active Issues: 0</p>
            <p>Number of Completed Issues: 0</p>
        </div> 

        <div id="report">
            <h1>Report an Issue</h1>
            <p><i>reports will be added at your current geographical location</i></p>
            Issue Title (brief): <input type="text" name="issueTitle"><br>
            Issue Description: <input type="text" name="issueDesc"><br>
            <input type="button" onclick="submitIssue()" value="Submit">
        </div> 
   
        </div>
        </div>
        </div>


        <div layout:fragment="script" th:remove="tag">


            <script src="/js/particles.js"></script>

            <script>
                particlesJS.load('particles-js', '/particlesjs-config.json', function() {
                    console.log('callback - particles.js config loaded');
                });
            </script>

            <script>
                function submitIssue() {

                }
            </script>


            <script th:inline="javascript">



            navigator.geolocation.getCurrentPosition(function(position) {
                let lat = position.coords.latitude;
                let long = position.coords.longitude;

             // var map = L.map('map').setView([lat, long], 20);


             mapboxgl.accessToken = 'pk.eyJ1IjoiZ3JhbmQ2IiwiYSI6ImNqb3FjM2IzdDAxY2Eza252aXp1aDcybmwifQ.Sp7OsuHHEq1ZK7DgVTgO-w';

              const map = new mapboxgl.Map({
container: 'map',
style: 'mapbox://styles/mapbox/light-v10',
center: [long, lat],
zoom: 3
});
map.addControl(new mapboxgl.NavigationControl());

map.addControl(new mapboxgl.AttributionControl({
customAttribution: 'Design and functionality by Nolan Platt | GitHub @nolanplatt | All Rights Reserved'
}));

const geojson = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
        -109.764561089753,
        38.386308465281
        ]
      },
      "properties": {
        "title": "Tree Fell Over",
        "description": "Need assistance in replanting.",
        "contact": "(999) 999-9999",
        "address": "543 Fallen Tree Rd.",
      }
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
         -74.845571033281,
         43.394348291848
        ]
      },
      "properties": {
        "title": "Oil Spill",
        "description": "Need assistance in safely securing the oil.",
        "contact": "(888) 888-8888",
        "address": "923 Filthy Oil Blvd.",
      }
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
        -108.614758073062,
        29.385348997142
        ]
      },
      "properties": {
        "title": "Dehydrated Plants",
        "description": "I need help hydrating some plants.",
        "contact": "(333) 333-3333",
        "address": "432 Dehydrated Plants St.",
      }
    },
    {
      "type": "Feature",
      "geometry": {
        "type": "Point",
        "coordinates": [
        -85.594872661265,
        30.386318348996
        ]
      },
      "properties": {
        "title": "Water Contamination",
        "description": "Need assistance in safely securing the water.",
        "contact": "(111) 111-1111",
        "address": "342 Nasty Water St.",
      }
    }
  ]
};

geojson.features.forEach(function (location, i) {
  location.properties.id = i;
});


map.on('load', () => {
  /* Add the data to your map as a layer */
  map.addSource('places', {
  type: 'geojson',
  data: geojson
});
addMarkers(geojson);

  buildLocationList(geojson);

});






    function buildLocationList(locations) {
  for (const location of locations.features) {
 
    const listings = document.getElementById('listings');
    const listing = listings.appendChild(document.createElement('div'));
    listing.id = `listing-${location.properties.id}`;
    listing.className = 'item';

    const link = listing.appendChild(document.createElement('a'));
    link.href = '/';
    link.className = 'title';
    link.id = `link-${location.properties.id}`;
    link.innerHTML = `${location.properties.title} - ${location.properties.address}`;

    /* Add details to the individual listing. */
    const details = listing.appendChild(document.createElement('div'));
    details.innerHTML = `${location.properties.description}<br> <strong>Contact</strong>: ${location.properties.contact}`;


  

  }
}



function createPopUp(currentFeature) {
  const popUps = document.getElementsByClassName('mapboxgl-popup');

  if (popUps[0]) popUps[0].remove();

  const popup = new mapboxgl.Popup({ closeOnClick: true })
    .setLngLat(currentFeature.geometry.coordinates)
    .setHTML(`<h3>${currentFeature.properties.title}</h3><h4>${currentFeature.properties.description}</h4>`)
    .addTo(map);
}

function addMarkers(locations) {
  for (const marker of locations.features) {
    const el = document.createElement('div');
    el.id = `marker-${marker.properties.id}`;
    el.className = 'marker';

 
    new mapboxgl.Marker(el, { offset: [0, -23] })
      .setLngLat(marker.geometry.coordinates)
      .addTo(map);



      el.addEventListener('click', (e) => {

  createPopUp(marker);
  e.stopPropagation();
});

  }
}


});
            


</script>



</body>

</html>